<%- include('../../partials/header.ejs') %>

<div style="min-height: 83vh" class="container py-4">
    <h1>Welcome to Your Dashboard</h1></H1>
</div>


<%- include('../../partials/footer.ejs') %>

</body>
</html>
